<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：名称空间  -->
<mapper namespace="com.levi.mapper.BrandMapper">
    <!--
      当数据库表中的属性名和类中的属性名不匹配时（包括驼峰与下划线不匹配），mybatis不会进行自动封装
      解决方案：
      1. 在sql中为不匹配的属性起别名，让别名和实体中属性名相同即可，缺点是每次查询都要定义别名,解决方案是定义sql片段；
      2. resultMap:
        1. 定义<resultMap>
        2. 使用resultMap替换<select>中的resultType属性
      -->
    <!--  sql片段  -->
    <sql id="brandColumn">id,brand_name brandName, company_name companyName, ordered, description, status</sql>

    <!--
    resultMap
    id：唯一标识
    type：映射的类型
     -->
    <resultMap id="brandResultMap" type="com.levi.pojo.Brand">
    <!--   主键字段映射     -->
<!--        <id></id>-->
        <!--
        一般字段映射
             column：表的列名
             property：实体类的属性名
         -->
        <result column="brand_name" property="brandName" />
        <result column="company_name" property="companyName" />
    </resultMap>

    <!--  不使用resultMap   -->
<!--    <select id="selectAllBrands" resultType="com.levi.pojo.Brand">-->
<!--        select * from tb_brand;-->
<!--        select id,brand_name brandName, company_name companyName, ordered, description, status from tb_brand;-->
<!--        select-->
<!--            <include refid="brandColumn"></include>-->
<!--        from tb_brand;-->
<!--    </select>-->


    <!--  使用resultMap  -->
    <select id="selectAllBrands" resultMap="brandResultMap">
        <!--        select * from tb_brand;-->
        <!--        select id,brand_name brandName, company_name companyName, ordered, description, status from tb_brand;-->
        <!--        select-->
        <!--            <include refid="brandColumn"></include>-->
        <!--        from tb_brand;-->
        select * from tb_brand;
    </select>

    <!--
        *参数占位符
        1. #{}：会将参数替换为?，防止sql注入
        2. ${}：简单的sql字符串拼接，存在注入风险
        3. 适用场景：
            * 参数传递时：#{}
            * 属性不固定：使用Mapper定义方法中的参数灵活传参，拼接字符串（因为参数是内部自己定义的，所以不存在注入问题）；
        *参数类型 parameterType属性，可以省略
        *特殊字符处理
            1.转义字符：单个特殊字符
            2.CDATA区：多个特殊字符

    -->
<!--    <select id="selectBrandById" parameterType="int" resultMap="brandResultMap">-->
<!--        select * from tb_brand where id=#{id};-->
<!--    </select>-->

    <select id="selectById" parameterType="int" resultMap="brandResultMap">
        select * from tb_brand where id &lt; #{id};
<!--        select * from tb_brand where id-->
<!--        <![CDATA[-->
<!--             <-->
<!--        ]]> #{id};-->
    </select>

    <!--  条件查询  -->
<!--    <select id="selectByCondition" resultMap="brandResultMap">-->
<!--        select * from tb_brand-->
<!--        where status = #{status}-->
<!--        and company_name like #{companyName}-->
<!--        and brand_name like #{brandName}-->
<!--    </select>-->

    <!--
    动态SQL
    if：条件判断
        test：条件表达式
    问题：当直接使用where关键字并且第一个条件不成立时，可能存在多and的情况
    解决方案：
        1.恒等式：在where后加上1=1，保证不会出and的语法错误
        2. 使用<where>标签替换where关键字

      -->
<!--    <select id="selectByCondition" resultMap="brandResultMap">-->
<!--        select * from tb_brand-->
<!--        where-->
<!--            <if test="status!=null">and status = #{status}</if>-->
<!--            <if test="companyName!=null and companyName!=''">and company_name like #{companyName}</if>-->
<!--            <if test="brandName!=null and brandName!=''">and brand_name like #{brandName}</if>-->
<!--    </select>-->
    <!--  where标签  -->
    <select id="selectByCondition" resultMap="brandResultMap">
        select * from tb_brand
        <where>
            <if test="status!=null">and status = #{status}</if>
            <if test="companyName!=null and companyName!=''">and company_name like #{companyName}</if>
            <if test="brandName!=null and brandName!=''">and brand_name like #{brandName}</if>
        </where>
    </select>


    <select id="selectBySingleCondition" resultMap="brandResultMap">
        select * from tb_brand
        where <!-- 注意不要使用where标签 -->
        <choose>
            <when test="status!=null">status=#{status}</when>
            <when test="companyName!=null and companyName!=''">company_name like #{companyName}</when>
            <when test="brandName!=null and brandName!=''">brand_name like #{brandName}</when>
            <otherwise>1=1</otherwise>
        </choose>
    </select>

    <!--可以使用下面的WHERE标签方式来替换otherwise标签中的恒等式-->
<!--    <select id="selectBySingleCondition" resultMap="brandResultMap">-->
<!--        select * from tb_brand-->
<!--        <where>-->
<!--        <choose>-->
<!--            <when test="status!=null">status=#{status}</when>-->
<!--            <when test="companyName!=null and companyName!=''">company_name like #{companyName}</when>-->
<!--            <when test="brandName!=null and brandName!=''">brand_name like #{brandName}</when>-->
<!--        </choose>-->
<!--        </where>-->
<!--    </select>-->
</mapper>